.menuIcon {
  padding: 0 !important;
  vertical-align: middle !important;
}

.harnessLogo {
  max-width: 100%;
  max-height: 100%;
}

.cartBadge {
  padding: 0.2em;
  border-radius: 50%;
  background: red;
  color: white;
}
