.carousel {
  height: 700px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.textBlock {
  font-size: large;
}

.textPadding {
  padding: 20px;
  margin: 20px;
}

.menuItem {
  font-size: large !important;
}

.pageTitle {
  padding: 1em;
}
